<div class="modal-header">
    <h3 class="modal-title">ChangePassword</h3>
</div>
<div class="modal-body">
    <table id="user-profile">
        <tr>
            <td>id</td>
            <td>{{user.id}}</td>
        </tr>
        <tr>
            <td>cn</td>
            <td>{{user.attrs.cn}}</td>
        </tr>
        <tr>
            <td>sn</td>
            <td>{{user.attrs.sn}}</td>
        </tr>
        <tr>
            <td>mail</td>
            <td>{{user.attrs.mail}}</td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" ng-model="pw1"></td>
            <td ng-show="!passwordOk()">
                <div class="alert alert-danger">
                    Password must be al least 6 characters
                    long
                </div>
            </td>
        </tr>
        <tr>
            <td>Repeat password</td>
            <td><input type="password" ng-model="pw2"></td>
            <td ng-show="passwordOk() && !passwordsOk()">
                <div class="alert alert-danger">
                    Passwords must be identical
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="changePassword()" ng-disabled="!passwordsOk()">Update
    </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>