<div class=row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Assign new roles to users for project {{projectId}}
                <a ui-sref="manageProjectExisting({projectId: projectId})">
                    <button ng-show="isAdminForProject" class="btn navbar-btn">Edit existing</button>
                </a>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-1">
                    <input type="checkbox" ng-model="masterSelectRole"/>
                </div>
                <div class="col-xs-2">
                    <div class="head-small">Roles</div>
                </div>
                <div class="col-xs-3" class="head-small">
                    Quick Sets:
                    <button class="btn btn-xs" type="button" ng-click="selectDeveloper()">Developer</button>
                </div>

                <div class="col-xs-6">
                    <div class="head-small">Users</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="row" ng-repeat="r in usersPerRole">
                        <input type="checkbox" ng-model="r.selected"
                               ng-change="roleSelectionChanged()">{{r.role}}
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-2">
                            Filter:
                        </div>
                        <div class="col-xs-6">
                            <input type="text" ng-model="query" width="20">
                        </div>
                        <div class="col-xs-1">
                            ({{eligibleUsers.length}}/{{allUsers.length}})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            <select class="form-control" ng-model="selectedUser"
                                    ng-options=" '(' + u.id + ') ' + u.attrs.cn + ' ' + u.attrs.sn for u in eligibleUsers track by u.id">
                                <option value="" disabled selected>Please select...</option>
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <button class="btn " type="button" ng-click="addUser()"
                                    ng-disabled="!selectedUser">Add
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="head-small">Current selection</div>
            </div>
            <div class="row">
                <div class="col-xs-1">

                </div>
                <div class="col-xs-1">
                </div>
                <div class="col-xs-4">
                    <div ng-repeat="sr in selectedRoles">{{sr.role}}</div>
                </div>
                <div class="col-xs-6">
                    <div ng-repeat="su in selectedUsers">{{su.attrs.cn}} {{su.attrs.sn}} ({{su.id}})</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">

                </div>
                <div class="col-xs-6">
                    <button class="btn"
                            ng-disabled="addRolesToUsersDisabled()"
                            ng-click="addRolesToUsers()">Add selected
                        roles to
                        selected
                        users
                    </button>
                </div>
            </div>


        </div>
    </div>
</div>



